
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding:  0;
}
a{
    text-decoration: none;
    color: #222;
}
a:hover{
    color: #222;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #FBFCFC;

}
.icon{
    width: 24px;
}
#header{
    width: 100%;
    background-color: #FBFCFC;
   
    
   
}
.header_nav{
    background-color: #FBFCFC; 
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}
.containe{
    padding: 0 80px;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #FBFCFC;
    width: 100%;
    padding: 20px 0;
    z-index: 10;
    
    
    

}
.header_wrapper-logo img{
        max-width: 190px;
}

.header_wrapper-nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.header_wrapper-nav-subnav{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;

}

.header_wrapper-nav-subnav-name{
    font-size: 16px;
    color: #222;
    font-weight: 500;
}
.header_wrapper-nav-subnav:hover .header_wrapper-nav-subnav-container{
    display: flex;
    justify-content: space-around;

}

.header_wrapper-nav-subnav-container{
    position: absolute;
    top: 20px;
    right: -70px;
    display: none;
    background-color: #FBFCFC;
    width: 840%;
    border-radius: 10px;
    animation: opa ease 0.9s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}
.header_wrapper-nav-subnav-lits{
    padding: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header_wrapper-nav-subnav-lits-name{
    text-decoration: underline;
    color: #111;
    width: 100%;
    display: block;
    padding: 15px 0;
    font-weight: 600;
}
.header_wrapper-nav-subnav-lits-name:hover{
    opacity: 0.8;
    color: #111;
}
.header_wrapper-nav-subnav-lits ul{
    display: flex;
    flex-direction: column;
    
}
.header_wrapper-nav-subnav-item{
    line-height: 50px;
}
.header_wrapper-nav-subnav-item:hover{
    text-decoration: underline #FFD642 2px;
}



.header_wrapper-login{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 24px;
    margin: 0 20px;
}
.header_wrapper-login-admin,
.header_wrapper-login-cart{
    margin: 0 20px;
    align-items: center;
    display: flex;
    
}

.header_wrapper-login-cart{
    position: relative;
}
.header_wrapper-login-cart-quanity{
    font-size: 12px;
    position: relative;
    top: -12px;
    left: -2px;
    background-color: #FFD642;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-weight: 600;
    padding: 1px;
   
}
.header_wrapper-login-cart:hover .header_wrapper-login-cart-nav{
    display: block;
}
.header_wrapper-login-cart-nav{
    position: absolute;
    background-color: #FBFCFC;
    top: 50px;
    right: -100px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 10px;
    display: none;
    animation: opa ease 0.9s;
}
@keyframes opa{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.header_wrapper-login-cart::before{
    content: "";
    width: 71px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: 21px;
    right: -26px;
}

.header_wrapper-login-cart-nav-name{
    text-align: start;
}
.header_wrapper-login-cart-nav-quantity{
    display: flex;
    justify-content: center;
}
.header_wrapper-login-cart-nav-quantity a i{
    background-color: #fff;
    border-radius: 50%;

}
.header_wrapper-login-admin{
    position: relative;
}

.header_wrapper-login-admin-user{
    position: absolute;
    top: 50px;
    right: -17px;
    width: 230px;
    background-color: #FBFCFC !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
    animation: opa ease 0.9s;
    display: none ;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;

}

.header_wrapper-login-admin::before{
    content: "";
    width: 75px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: 21px;
    right: -15px;
}
.header_wrapper-login-admin:hover .header_wrapper-login-admin-user{
    display: flex;
}






/*content*/

#content{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    position: relative;
}

.content_page{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 2%;
    margin-right: 40px;

}
.content_page1{
    background-color: #FBFCFC;
    width: 35%;
    margin-right: 40px;

}
.content_page-header{
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.content_page-logo img{
    margin-bottom: 20px;
}
.content_page-logo img{
    width: 100%;
}
.content_page-text{
    font-size: 16px;
    margin-bottom: 20px;
    align-items: center;
}

.content_page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.content_page-button-product{
    width: 40%;
    padding: 10px;
    background-color: #111;
    color: #fff;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border: #111 1px solid;
    margin-right: 20px;

}

.content_page-button-product:hover{
    color: #fff;
}

.content_page-button-search{
    width: 40%;
    padding: 10px;
    background-color:#FBFCFC ;
    color: #111;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #111 1px solid;
    font-size: 16px;
    font-weight: 500;
    
}
.content_page-button-product i,
.content_page-button-search i{
    margin-right: 8px;
}
.content_page-input-search{
    border: none;
    background-color: #FBFCFC;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}
.content_page-input-search:focus{
    border:none;
    outline: none;
}

.content_page-social-text{
    color: #A5AAAF;
    font-size: 18px;
    margin-top: 20px;
}

.content_page-social-logo{
    margin: 20px;
    font-size: 24px;

}
.content_page-social-logo a{
    margin: 0 5px;
    color: #A5AAAF;
}

.content_page-social-logo a:hover{
    color: #111;
}

.content_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 18%;
    margin-right: 40px;

}

.content_product-slider{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 10px;
}

.content_product-slider-img img{
    width: 100%;
    border-radius: 10px;
}
.content_product-slider-name{
    margin: 40px 10px 20px;
    font-size: 24px;
    font-weight: 700;
    
}
.content_product-slider-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    font-size: 16px;
}
.content_product-slider-icon i{
    font-size: 24px;
    margin: 0 10px;
}
.content_product-slider-icon i:hover{
    color: #FFD642;
}
.content_product-slider-pice{
    color:#FFD642 ;
}


.content_product-slider-button{
    height: 80%;
}

.content_product-list{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 10px 0;
}
.content_product-list-header{
    margin: 10px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_product-list-detail{
    font-size: 16px;
    font-weight: 400;
    
}
.content_product-list-detail:hover{
    color: #FFD642;
    text-decoration: underline;
}

.content_product-list-nav{
    margin: 15px 10px;
}
.content_product-list-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.content_product-list-item-img{
    width: 50px;
}
.content_product-list-item-img img{
    width: 100%;
    border-radius: 10px;
}
.content_product-list-item-info{
    padding: 4px;
    flex: 1;
    margin-left: 10px;
}
.content_product-list-item-name{
    font-size: 16px;
    font-weight: 500;
}
.content_product-list-item-pirce{
    color:#FFD642 ;
    font-size: 16px;

}
.content_product-list-item-icon{
    font-size: 24px;
    margin-right: 10px;
}
.content_product-list-item-icon i:hover{
    color: #FFD642;
}
.content_info{
    display: flex;
    flex-direction: column;
    max-width: 38%;
    position: relative;

}
.content_info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_info-left{
    margin-right: 30px;
}

.content_info-user{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content_info-user-header{
    font-size: 24px;
    font-weight: 600;
}
.content_info-user-img{
    text-align: center;
    margin: 15px 0;
    width: 20%;
    border: #FBFCFC 2px solid;
    border-radius: 50%;
}
.content_info-user-img img{
    width: 100%;
   margin: auto;
   border-radius: 50%;

}
.content_info-user-name{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px ;
}
.content_info-user-icon{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    align-items: center;
}
.content_info-user-icon a{
    align-items: center;
    display: flex;
}
.content_info-user-icon a span{
    margin-left: 5px;
}
.content_info-user-icon a i:hover{
    color: #FFD642;
}
.content_info-user-icon a span:hover{
    text-decoration: underline #FFD642;
}

.content_info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 20px 0;
}
.content_info-text-item{
    text-align: center;
    padding: 0 20px;
    width: 45%;
}
.content_info-text-item:first-child{
    border-right: #111 solid 1px;
}

.content_info-text-item-header{
    font-size: 12px;
}
.content_info-text-item p{
    font-weight: 600;
    font-size: 20px;
}
.content_info-contact{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.content_info-contact-header{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}
.feedback-input {
    color:#111;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #111;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    
  }
  
  .feedback-input:focus { border:2px solid #FFD642; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
    height: 190px;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#111;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#FFD642;color: #111; }



.content_info-cart{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 20px 0;

}

.content_info-cart-button:not(.collapsed){
    color: #111;
    background-color: #fff;
}
.content_info-cart-button:focus{
    border-color: transparent;
    box-shadow: none;
}
.content_info-cart-button:not(.collapsed)::after{
    content: none;
}
.content_info-cart-button::after{
    content: none;
}
.content_info-cart-button{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}
.content_info-cart-button span{
    font-size: 16px;
    font-weight: 400;
}

.content_info-cart-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.content_info-cart-text-name{
    width: 40%;
}
.content_info-cart-text-pirce,
.content_info-cart-text-quantity,
.content_info-cart-text-sum,
.content_info-cart-text-delete,
.content_info-cart-list-item-pirce,
.content_info-cart-list-item-quantity,
.content_info-cart-list-item-sum,
.content_info-cart-list-item-delete{
    width: 15%;
    text-align: center;
}

.content_info-cart-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.content_info-cart-list-item-product{
    width: 40%;
    display: flex;
    justify-content: start;
}
.content_info-cart-list-item-img img{
    width: 100%;
    border-radius: 10px;
}
.content_info-cart-list-item-img{
    width: 25%;
    
}
.content_info-cart-list-item-name{
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-left: 10px;
}
.content_info-cart-list-item-pirce,
.content_info-cart-list-item-quantity,
.content_info-cart-list-item-sum,
.content_info-cart-list-item-delete{
    font-size: 14px;
    font-weight: 400;
}
.content_info-cart-list-item-delete i:hover{
    color: #FFD642;
    cursor: pointer;
}

.content_info-cart-list-item-quantity a i{
    font-size: 16px;
    height: 100%;
    
}
.content_info-cart-list-item-quantity div i:hover{
    color: #FFD642;
}
.content_info-cart-list-item-quantity div{
    background-color: #FBFCFC;
    border-radius: 10px;
}
.content_info-cart-list-item-quantity span{
    margin: 0 4px;
}

.content_info-car-sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_info-car-sum-pirce{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.content_info-car-sum-pirce span{
    font-weight: 600;
}
.content_info-car-sum-monney{
    margin-left: 10px;
    color: #FFD642;
    font-weight: 700;
    font-size: 24px;
}
.content_info-car-sum-button{
    background-color: #111;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.content_info-car-sum-button-cart{
    margin-left: 70%;
    display: block;
    margin-top: 20px;
}
.content_info-car-sum-button:hover{
    background-color:  #FFD642;
    color: #fff;
}

.content-info-bandroll{
    display: flex;
    justify-content: space-around;
    background-color: #2f3542;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 20px 0;
    padding: 10px;
}
.content-info-bandroll-left{
    margin-right: 15px;
}
.content-info-bandroll-item{
    margin: 10px 0;
    height: 50%;
}
.content-info-bandroll-item-header{
    color: #FFD642;
    font-size: 22px;
    min-height: 66px;
    font-weight: 600;
}
.content-info-bandroll-item-text{
    font-size: 16px;
    font-weight: 400;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: 0;
}
.footer_contact{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 15px 0;
}
.footer_contact-header,.footer_help-header{
    font-size: 18px;
    font-weight: 600;
}
.footer_contact-list{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.footer_contact-list div{
    margin: 0 8px;
}

.footer_help{
    display: flex;
    align-items: end;
    flex-direction: column;
 
}
.footer_help-list a{
    font-size: 14px;
    margin: 0 8px;
}
.footer_help-list a:hover{
    text-decoration: underline #FFD642;
}
.footer_last p{
    font-size: 14px;
    font-weight: 500;
}
.footer-border{
    border-top:#A5AAAF 1px solid ;
    width: 100%;
    margin-bottom: 15px;
}

/*menu*/

#menu{
    margin-top: 120px;
}

.container_header-list{
    display: flex;
    justify-content: start;
    font-size: 14px;
}
.container_header-list span{
    margin: 0 8px;
}
.container_header-list a:hover{
    color: #FFD642;
}


.menu_content{
    margin-top: 20px;
    align-items: center;
}

.menu_content-header{
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    font-weight: 700;
}

.menu_content-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu_content-item{
    margin: 10px 0;
    overflow: hidden;
    width: 35%;
}
.menu_content-item-img{
    position: relative;

}

.menu_content-item-img::before{
    position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.menu_content-item-img:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}

.menu_content-item-img img{
    width: 100%;
    border-radius: 10px;
}

.menu_content-item-text{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 5px 0;
}
.menu_content-item-text:hover{
    text-decoration: underline #FFD642;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

#footer{
    margin-top: 50px;
}

/*list*/

#list{
    margin-top: 120px;
}

.list_content{
    margin-top: 20px;
    align-items: center;
}
.list_content-header{
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    font-weight: 700;
}

.list_content-name{
    margin-bottom: 20px;
}
.list_content-name p{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.list_content-name a{
    font-size: 24px;
    font-weight: 700;
}
.list_content-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 300px;
   
}
.list_content-list-item{
    width: 300px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.list_content-list-item-img{
    width: 100%;
	position: relative; 
}

.list_content-list-item-img img{
    width: 100%;
    border-radius: 10px;
}
.list_content-list-item-detail{
    width: 85%;
	height: 80%;	
	padding: 5% 5%;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(255,255,255,0.9);	
	opacity: 0;
    color: #111;
	transition: all 0.4s ease-in;
    font-size: 14px;
    border-radius: 10px;
}
.list_content-list-item-img:hover .list_content-list-item-detail{
    transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}
.list_content-list-item-detail p{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.list_content-list-item-text{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    font-size: 16px;
}
.list_content-list-item-text-name{
    font-weight: 600;
}
.list_content-list-item-text-price{
    color: #FFD642;
}



#detail{
    margin-top: 120px;
}

.detail_content{
    margin-top: 20px;
    width: 100%;
}
.detail_content-body{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.detail_content-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55%;
    height: max-content;
}
.detail_content-img img{ 
   width: 300px;
   border-radius: 10px;

}
.detail_content-img div{
    background-color: #FBFCFC;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    margin: 10px;
}
.detail_content-nav{
    width: 40%;
    
}

.detail_content-nav-name{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.detail_content-nav-color-name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.detail_content-nav-color-box-item-black::after{
    content: "";
    top: 7%;
    right: 5%;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    position: absolute;
    border-radius: 18%;
    background-color: #111;
}
.detail_content-nav-color-box-item-white::after{
    content: "";
    top: 7%;
    right: 5%;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    position: absolute;
    border-radius: 18%;
    background-color: #F8F8F8;
}
.detail_content-nav-color-box-item-sand::after{
    content: "";
    top: 7%;
    right: 5%;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    position: absolute;
    border-radius: 18%;
    background-color: #E2D8D0;
}
.detail_content-nav-color-box{
    display: flex;
    justify-content: start;
}
.detail_content-nav-color-box div{
    margin-right: 10px;
    border-radius: 18%;
    width: 50px;
    height: 50px;
    padding: 5px;
    position: relative;
}
.detail_content-nav-color-box div:hover{
    border: 4px solid rgb(47, 53, 66);
}
.detail_content-nav-color-box div:focus{
    border: 4px solid rgb(47, 53, 66);

}

.detail_content-nav-color{
    margin: 20px 0;
}
.detail_content-nav-price{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 25%;
}
.detail_content-nav-price:hover{
    color: #FFD642;
}
.detail_content-nav-text{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;

}
.detail_content-nav-text span{
    font-weight: 700;
}
.detail_content-nav-button{  
    text-align: center;
    background-color: #2f3542;
    margin: auto;
    padding: 16px 30px;
    color: #fff;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    display: block;
    border: 2px solid #2f3542;
    margin-bottom: 20px;
    
}

.detail_content-nav-button:hover{
    color: #FFD642;
    background-color: #FBFCFC;
    border-color: #FFD642;
}

.detail_content-nav-info-button:focus{
    border-color: transparent;
    box-shadow: none;
}
.detail_content-nav-info-button:not(.collapsed){
    color: #111;
    background-color: #FBFCFC;
    box-shadow: none;
}
.detail_content-nav-info{
    background-color: #FBFCFC;
}
.detail_content-nav-info-button::after{
    content: none;
}

.detail_content-nav-info-button{
    background-color: #FBFCFC;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
   
}
.detail_content-nav-info-button i{
    margin-right: 5px;
}
.detail_content-nav-info{
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.detail_content-nav-info-body p{ 
    font-size: 14px;
}
.detail_content-suggest-header{
    margin: 20px 0;
    margin-top: 120px;
}
.detail_content-suggest-header p{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.detail_content-suggest-header a{
    font-size: 24px;
    font-weight: 700;
}
.list_content-list-nav{
    display: flex;
    justify-content: space-between;
}
.detail_content-suggest-prev,
.detail_content-suggest-next{
    width: 4%;
}
.detail_content-suggest-prev span,
.detail_content-suggest-next span{
    width: 50px;
    height: 50px;
    background-color: #FFD642;
    border-radius: 50%;
    
}
.pay_row{
    margin: 10px 0;
}
.pay_row span,.pay_right-header{
    font-size: 28px;
    font-weight: 700;
}
.pay_form{
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pay_form span{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.pay_form input{
    color: #111;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #111;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 90%;
    box-sizing: border-box;
    outline: 0;
}
.pay_form textarea{
    width: 90%;
}

.pay_right{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.pay_right-item{
    margin: 35px 10px;
}
.pay_right-item-img {
    position: relative;
}
.pay_right-item-img img{
    border-radius: 10px;
    width: 70%;
  
}

.pay_right-item-img span{
    position: absolute;
    background-color: #FFD642;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    top: -10px;
    right: 30px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.9;
}
.pay_right-item-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    
}
.pay_right-item-text div{
    font-size: 16px;
}

.pay_right-order{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.pay_right-order-total{
    font-size: 24px;
}
.pay_right-order-price b{
    color: #FFD642;
}
.text-price{
    display: flex;
    justify-content: end;
}
.pay_input{
    margin-top: 20px;
}
.content_info-user-login{
    padding: 10px;
    background-color: #111;
    color: #fff;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    border: #111 1px solid;
    margin: 10px 0;
    width: 150px;
    transition: all 0.4s;

}
.content_info-user-login:hover{
    background-color: #FFD642;
    border-color: #FFD642;
    color: #111;
}
.content_info-user-signin{
    padding: 10px;
    background-color: #FBFCFC;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #111 1px solid;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    transition: all 0.4s;

}
.content_info-user-signin:hover{
    border-color: #FFD642;
    color: #FFD642;
}
.user_info{
    display: flex;
}
.user_info-header{
    font-size: 20px;
    font-weight: 700;
}
.user_text{
    font-weight: 600;
}
.user_img{
    width: 15%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.user_span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.user_button {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.user_button input{
    color: #111;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #111;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;    
    width: 20%;
}
.user_button input:hover{
    border-color: #FFD642;
    color: #FFD642;
    background-color: #FBFCFC;
}
.pay_form-table{
    font-size: 16px;
}
.pay_form-table-a:hover{
    color: #FFD642;
}

.pay_form-user{
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-input-user{
    color: #111;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #111;
    transition: all 0.3s;
    padding: 13px;
    width: 45%;
    box-sizing: border-box;
    outline: 0;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
}
.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.user_input{
    display: none;
}
.user_label{
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.user_label:hover{
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.user_label::after{
    content: "";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-preview {
width: 192px;
height: 192px;
position: relative;
border-radius: 100%;
border: 6px solid #F8F8F8;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-preview-div{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.user_icon{
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 16px;
    z-index: 0;
}
.user_button-link{
    color: #111;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #111;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 20%;
    display: flex;
    justify-content: center;
}
.user_button-link:hover{
    color: #FFD642;
    border-color: #FFD642;
}
.content-info-img{
    margin: 20px 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content-info-img-img{
    border-radius: 10px;
    transition: transform 0.5s;
    -webkit-filter: blur(0.5px);

}
.content-info-img:hover .content-info-img-img{
    transform: scale(1.1);
    -webkit-filter: blur(0px);

}
.content-info-img-text{
    position: absolute;
    top: 20%;
    text-align: center;

    
}
.content-info-img-text h1{
    color: #Fcf953;
    font-size: 42px;
    margin: auto;
    font-weight: 800;
    text-shadow: black 0.1em 0.1em 20px
}
.content-info-img-text p{
    color: #Fcf953;
    margin: 15px 0;
    font-size: 16px;
    text-shadow: black 0.1em 0.1em 20px

}
.content-info-img-text a{
    padding: 15px 50px;
    background-color: #2f3644;
    color: #fff;
    border-color: #2f3644;
    display: inline-block;
    font-style: 24px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: all 175ms linear;
}
.content-info-img-text-span{
    font-size: 18px;
    font-weight: 800;
    text-shadow: black 0.1em 0.1em 20px

}

.content-info-img-text a:hover{
    background-color: transparent;
    border: 1px solid #Fcf953;
}
.content-info-img-text a:hover .content-info-img-text-span{
    color: #Fcf953;
}
.about_row{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.about_text-container{
    padding: 50px;
    background-color: #F1EEEC;
    justify-content: center;
    display: block;
    min-height: 672px;

}
.about_text-container-color{
    background-color: #696969;
    color: #fff;
}

.about-col-md-4{
    padding: 0;
    border-radius: 10px;
}
.about_header{
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    min-height: 84px;
}
.about-text{
    font-size: 16px;
    text-align: center;
}
.about_img{
    height: 100%;
}
.about_img img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.order_input{
    width: 70% !important;
    height: 100px;
}
.order_info-car-sum{
    justify-content: end !important;
}
